@model AccountManagement.Application.Contracts.Account.AccountForgetPassword
@{
    ViewData["Title"] = "فراموشی رمز عبور";
}

<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper breadcrumb-bg">
                    <div class="breadcrumb-content">
                        <h2 class="breadcrumb-content__title">فراموشی رمز عبور</h2>
                        <ul class="breadcrumb-content__page-map">
                            <li><a asp-page="/Index">صفحه اصلی</a></li>
                            <li><a asp-page="/Account">ورود به حساب کاربری</a></li>
                            <li class="active">فراموشی رمز عبور</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                                <p><strong>بازیابی کلمه عبور، ایمیل خود را وارد نمائید</strong></p>
                                <form method="post">
                                    <div asp-validation-summary="All" class="text-danger" ></div>
                                    <div class="login-form">
                                        <div class="row" style="flex-direction: column; align-items: center">
                                            <div class="col-md-6 col-6">
                                                <label class="control-label" asp-for="Email" for="input-email">پست الکترونیک</label>
                                                <input class="form-control" asp-for="Email" type="text" name="email" autocomplete="email" required=""
                                                       id="input-email" placeholder="پست الکترونیک" style="margin-bottom: 45px;">
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <button type="submit" value="بازیابی کلمه عبور" style="width: 200px; margin-right: 158px; background-color: #0892f8; color: white; margin-top: 40px"></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>