@{

}
<div class="footer-area" style="background-color: #0f5e9a;
                                background-image: url(https://demo.webdigify.com/OPC01/OPC001/catalog/view/theme/Demo-Store/image/webdigify/top-bg.png)">
    <div class="footer-copyright">
        <div class="container wide">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-copyright-wrapper footer-copyright-wrapper--default-footer">
                        <div class="container">
                            <div class="row align-items-center no-gutters">
                                <div class="col-lg-2 col-md-2">
                                    <div class="footer-logo">
                                        <a href="#">
                                            <img src="~/Theme/assets/img/Logo_Site.png" class="img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-5">

                                    <div class="copyright-text">
                                        تمامی حقوق مادی و معنوی این سایت متعلق به شرکت ارتعاش الکترونیک آروج می باشد.
                                    </div>

                                </div>
                                <div class="col-lg-2 col-md-5">
                                    <div class="copyright-social-wrapper">
                                        <ul class="copyright-social">
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-whatsapp"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.instagram.com/aroojev/">
                                                    <i class="fa fa-instagram"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <a referrerpolicy="origin" target="_blank"
                                   href="https://trustseal.enamad.ir/?id=248447&amp;Code=Tm1YC0VbvGShgbcsDcFl">
                                    <img referrerpolicy="origin" src="https://Trustseal.eNamad.ir/logo.aspx?id=248447&amp;Code=Tm1YC0VbvGShgbcsDcFl"
                                         alt="" style="cursor: pointer" id="Tm1YC0VbvGShgbcsDcFl">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="nws-section layouts-action-buttons-section">
    <div class="action-buttons-wrapper directionUp">
        <a class="action-buttons-root tada animated infinite slow root" href="http://wa.me.989387537443"
           rel="nofollow" target="_blank">
            <i class="icon mdi mdi-phone"></i>
            <span class="label">با ما در تماس باشید</span>
        </a>
        <div class="action-buttons-inner-wrapper">
            <a class="action-button" href="http://wa.me.989387537443" rel="nofollow" target="_blank"
               style="transition-delay: 90ms;">
                <i class="icon mdi mdi-whatsapp"></i>
                <span class="label">واتس آپ</span>
            </a>
            <a class="action-button" href="Tel:09172402275" rel="nofollow" target="_blank"
               style="transition-delay: 60ms;">
                <i class="icon mdi mdi-cellphone-iphone"></i>
                <span class="label">موبایل 1762443-0912</span>
            </a>
            <a class="action-button" href="Email:info@arooj.ir" rel="nofollow" target="_blank"
               style="transition-delay: 30ms;">
                <i class="icon mdi mdi-phone"></i>
                <span class="label">info@arooj.ir</span>
            </a>
        </div>
    </div>
</section>