@page
@model ServiceHost.Pages.AboutModel
@{
    ViewData["Title"] = "درباره ما";
}
<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper breadcrumb-bg-aboutUs">
                    <div class="breadcrumb-content">
                        <h2 class="breadcrumb-content__title">
                            <strong>درباره ما</strong>
                        </h2>
                        <ul class="breadcrumb-content__page-map">
                            <li><a asp-page="/Index">صفحه اصلی</a></li>
                            <li class="active">درباره ما</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        <div class="container">
                            <div class="row">
                                <div class="business">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div style="padding-bottom: 50px">
                                                    <h3 style="text-align: center;"><span style="font-size: 32px; font-family: Dubai; color: #0891f8; font-weight: bold; text-shadow: rgba(136, 136, 136, 0.8) 3px 3px 2px;">حوزه فعالیت شرکت دانش بنیان</span></h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="business_box ">
                                                    <aside style="text-align: justify;"><span style="font-size: 24px; font-family: Dubai; color: rgb(0, 0, 0);"><strong>شرکت ارتعاش الکترونیک آروج</strong> با مسئولیت محدود در خرداد ماه سال&nbsp;</span><span style="font-size: 24px; font-family: Dubai; color: rgb(0, 0, 0);">1395 با کد ثبتی 11192 در محل ثبت بندر بوشهر و شناسه ملی 14005876197 تاسیس گردید. این شرکت فعالیت خود با پروژه مکانیاب آکوستیک لوله های پلی اتیلن گاز شهری آغاز کرد.</span></aside>
                                                    <aside style="text-align: justify;"><span style="font-size: 24px; font-family: Dubai; color: black;">این شرکت در تاریخ اردیبهشت ماه 1399 به عنوان شرکت دانش&zwnj;بنیان بر روی محصول مکانیاب اکوستیک لوله های پلی اتیلن گاز شهری تایید گردید.</span></aside>
                                                    <p style="line-height:normal;margin-top:12.0pt;margin-bottom:2.0pt;margin-right:0in;text-indent:0in;text-align:justify;"><span style="font-size: 26px; font-family: Dubai; color: rgb(0, 0, 0); font-weight: bold;">زمینه فعالیت شرکت :</span><span style="font-size: 29px; font-family: Dubai; color: rgb(0, 0, 0); font-weight: bold;"> </span></p>
                                                    <div style="line-height:160%;margin-top:2.0pt;margin-bottom:4.0pt;margin-right:.42in;text-indent:-.2in;text-align:justify;"><span style="font-size:25px;"><span style="color:#1CADE4;font-family:Wingdings;">v</span></span><span style="font-size: 24px; font-family: Dubai; color: rgb(0, 0, 0);">طراحی و ساخت تجهیزات الکترونیکی</span></div>
                                                    <div style="line-height:160%;margin-top:2.0pt;margin-bottom:4.0pt;margin-right:.42in;text-indent:-.2in;text-align:justify;"><span style="font-size: 24px;"><span style="color: rgb(28, 173, 228); font-family: Wingdings;">v</span></span><span style="font-size: 24px; font-family: Dubai; color: rgb(0, 0, 0);">سیستم های هوشمند</span></div>
                                                    <div style="line-height:160%;margin-top:2.0pt;margin-bottom:4.0pt;margin-right:.42in;text-indent:-.2in;text-align:justify;"><span style="font-size: 24px;"><span style="color: rgb(28, 173, 228); font-family: Wingdings;">v</span></span><span style="font-size: 24px; font-family: Dubai; color: rgb(0, 0, 0);">رباتیک و سرگرمی</span></div>
                                                    <div style="line-height:160%;margin-top:2.0pt;margin-bottom:4.0pt;margin-right:.42in;text-indent:-.2in;text-align:justify;"><span style="font-size: 24px;"><span style="color: rgb(28, 173, 228); font-family: Wingdings;">v</span></span><span style="font-size: 24px; font-family: Dubai; color: rgb(0, 0, 0);">پردازش تصویر</span></div>
                                                    <div style="line-height:160%;margin-top:2.0pt;margin-bottom:4.0pt;margin-right:.42in;text-indent:-.2in;text-align:justify;"><span style="font-size: 24px;"><span style="color: rgb(28, 173, 228); font-family: Wingdings;">v</span></span><span style="font-size: 24px; font-family: Dubai; color: rgb(0, 0, 0);">پردازش صوت</span></div>
                                                    <div style="line-height:160%;margin-top:2.0pt;margin-bottom:4.0pt;margin-right:.42in;text-indent:-.2in;text-align:justify;"><span style="font-size: 24px;"><span style="color: rgb(28, 173, 228); font-family: Wingdings;">v</span></span><span style="font-size: 24px; font-family: Dubai; color: rgb(0, 0, 0);">برنامه نویسی</span></div>
                                                    <div style="line-height:160%;margin-top:2.0pt;margin-bottom:4.0pt;margin-right:.42in;text-indent:-.2in;text-align:justify;"><span style="font-size: 24px;"><span style="color: rgb(28, 173, 228); font-family: Wingdings;">v</span></span><span style="font-size: 24px; font-family: Dubai; color: rgb(0, 0, 0);">آموزش</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container" style="background-color: #f1f1f1;padding: 45px 0px;margin: 15px 0;border-radius: 20px;">
                            <div class="row" style="display: flex">
                                <div class="col-md-12">
                                    <div class="wpb_column vc_column_container">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="heading-title style1 ">
                                                    <div style="padding-bottom: 50px">
                                                        <h3 style="text-align: center;">
                                                            <span style="font-family: Dubai; font-weight: bold; color: #07365a; text-shadow: rgba(136, 136, 136, 0.8) 3px 3px 2px;">آشنایی بااعضای شرکت</span>
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1586939194154" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between;">
                                                    <div class="wpb_column vc_column_container vc_col-sm-3" style="margin-left: 20px;">
                                                        <div class="vc_column-inner vc_custom_1584806252038">
                                                            <div class="wpb_wrapper">
                                                                <div class="wpb_single_image wpb_content_element vc_align_center  vc_custom_1586933536739">
                                                                    <figure class="wpb_wrapper vc_figure">
                                                                        <div class="vc_single_image-wrapper vc_box_border_grey">
                                                                            <img width="200" height="200" src="~/Theme/assets/img/members/mohsen-heidary.jpg" style="border-radius: 50%" alt="Mohsen Heidary Kaidan">
                                                                        </div>
                                                                    </figure>
                                                                </div>
                                                                <div class="wpb_raw_code wpb_content_element wpb_raw_html vc_custom_1584806260498 box-leader" style="text-align: center">
                                                                    <div class="wpb_wrapper">
                                                                        <div class="box-leader-text">
                                                                            <b>محسن حیدری کایدان</b>
                                                                            <p>کارشناس ارشد هوش مصنوعی و رباتیک</p>
                                                                            <p>مدیرعامل</p>
                                                                        </div>
                                                                        <ul class="social-leader" style="display: flex; justify-content: center">
                                                                            <li style="padding-left: 5px;"><a class="twitter social-icon" href="https://twitter.com/MohsenHeidary85?t=jsLrMyZzVz7JoxpACnLy1g&s=08" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                                            <li style="padding-left: 5px;"><a class="instagram social-icon" href="https://www.instagram.com/aroojev/" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                                                            <li style="padding-left: 5px;"><a href="https://wa/me/989172402275" title="WhatsApp" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="wpb_column vc_column_container vc_col-sm-3" style="margin-left: 20px;">
                                                        <div class="vc_column-inner vc_custom_1584806268030">
                                                            <div class="wpb_wrapper">
                                                                <div class="wpb_single_image wpb_content_element vc_align_center  vc_custom_1586933547720">
                                                                    <figure class="wpb_wrapper vc_figure">
                                                                        <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                                            <img width="200" height="200" src="~/Theme/assets/img/members/fatemeh-shabani.jpg" style="border-radius: 50%" alt="Fatemeh Shabani">
                                                                        </div>
                                                                    </figure>
                                                                </div>
                                                                <div class="wpb_raw_code wpb_content_element wpb_raw_html vc_custom_1584806273930 box-leader" style="text-align: center; margin-top: 20px;">
                                                                    <div class="wpb_wrapper">
                                                                        <div class="box-leader-text">
                                                                            <b>فاطمه شعبانی</b>
                                                                            <p>کارشناس ارشد هوش مصنوعی و رباتیک</p>
                                                                            <p>رئیس هیئت مدیره</p>
                                                                        </div>
                                                                        <ul class="social-leader" style="display: flex; justify-content: center">
                                                                            <li style="padding-left: 5px;"><a class="twitter social-icon" href="https://twitter.com/_FatemehShabani?t=zpqk551P_iSV_U3NvzajuQ&s=08" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                                            <li style="padding-left: 5px;"><a class="instagram social-icon" href="https://www.instagram.com/aroojev/" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                                                            <li style="padding-left: 5px;"><a href="https://wa/me/989211692814" title="WhatsApp" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="wpb_column vc_column_container vc_col-sm-3" style="margin-left: 20px;">
                                                        <div class="vc_column-inner vc_custom_1584806282154">
                                                            <div class="wpb_wrapper">
                                                                <div class="wpb_single_image wpb_content_element vc_align_center  vc_custom_1586933559811">
                                                                    <figure class="wpb_wrapper vc_figure">
                                                                        <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                                            <img width="200" height="200" src="~/Theme/assets/img/members/ahmad-keshavarz.jpg" style=" border-radius: 50%" alt="Ahmad Keshavarz">
                                                                        </div>
                                                                    </figure>
                                                                </div>
                                                                <div class="wpb_raw_code wpb_content_element wpb_raw_html vc_custom_1584806288124 box-leader" style="text-align: center; margin-top: 20px;">
                                                                    <div class="wpb_wrapper">
                                                                        <div class="box-leader-text">
                                                                            <b>احمد کشاورز</b>
                                                                            <p>دکتری مهندسی برق مخابرات</p>
                                                                            <p>عضو هیئت مدیره</p>
                                                                        </div>
                                                                        <ul class="social-leader" style="display: flex; justify-content: center">
                                                                            <li style="padding-left: 5px;"><a class="twitter social-icon" href="http://www.twitter.com/roadthemes" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                                            <li style="padding-left: 5px;"><a class="instagram social-icon" href="http://www.instagram.com" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                                                            <li style="padding-left: 5px"><a href="https://wa/me/989173731896" title="WhatsApp" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="wpb_column vc_column_container vc_col-sm-3" style="margin-left: 20px;">
                                                        <div class="vc_column-inner vc_custom_1584806294470">
                                                            <div class="wpb_wrapper">
                                                                <div class="wpb_single_image wpb_content_element vc_align_center  vc_custom_1586933571019">
                                                                    <figure class="wpb_wrapper vc_figure">
                                                                        <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                                            <img width="200" height="200" src="~/Theme/assets/img/members/user1.png" style="border-radius: 50%">
                                                                        </div>
                                                                    </figure>
                                                                </div>
                                                                <div class="wpb_raw_code wpb_content_element wpb_raw_html vc_custom_1584806301337 box-leader" style="text-align: center; margin-top: 20px;">
                                                                    <div class="wpb_wrapper">
                                                                        <div class="box-leader-text">
                                                                            <b>سیدامیر سیدی</b>
                                                                            <p>دانشجوی دکتری مهندسی پزشکی</p>
                                                                            <p>عضو هیئت مدیره</p>
                                                                        </div>
                                                                        <ul class="social-leader" style="display: flex; justify-content: center">
                                                                            <li style="padding-left: 5px;"><a class="twitter social-icon" href="http://www.twitter.com/roadthemes" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                                            <li style="padding-left: 5px;"><a class="instagram social-icon" href="http://www.instagram.com" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                                                            <li style="padding-left: 5px;"><a href="https://www.whatsapp.com/" title="WhatsApp" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="wpb_column vc_column_container vc_col-sm-3" style="margin-left: 20px;">
                                                        <div class="vc_column-inner vc_custom_1584806294470">
                                                            <div class="wpb_wrapper">
                                                                <div class="wpb_single_image wpb_content_element vc_align_center  vc_custom_1586933571019">
                                                                    <figure class="wpb_wrapper vc_figure">
                                                                        <div class="vc_single_image-wrapper vc_box_border_grey">
                                                                            <img width="200" height="200" src="~/Theme/assets/img/members/Heidar-Keshavarz.jpg" style="border-radius: 50%">
                                                                        </div>
                                                                    </figure>
                                                                </div>
                                                                <div class="wpb_raw_code wpb_content_element wpb_raw_html vc_custom_1584806301337 box-leader" style="text-align: center; margin-top: 20px;">
                                                                    <div class="wpb_wrapper">
                                                                        <div class="box-leader-text">
                                                                            <b>حیدر کشاورز</b>
                                                                            <p>دکتری مهندسی برق میدان</p>
                                                                            <p>عضو هیئت مدیره</p>
                                                                        </div>
                                                                        <ul class="social-leader" style="display: flex; justify-content: center">
                                                                            <li style="padding-left: 5px;"><a class="twitter social-icon" href="http://www.twitter.com/roadthemes" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                                            <li style="padding-left: 5px;"><a class="instagram social-icon" href="http://www.instagram.com" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                                                            <li style="padding-left: 5px;"><a href="https://www.whatsapp.com/" title="WhatsApp" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="wpb_column vc_column_container vc_col-sm-3" style="margin-left: 20px;">
                                                        <div class="vc_column-inner vc_custom_1584806294470">
                                                            <div class="wpb_wrapper">
                                                                <div class="wpb_single_image wpb_content_element vc_align_center  vc_custom_1586933571019">
                                                                    <figure class="wpb_wrapper vc_figure">
                                                                        <div class="vc_single_image-wrapper vc_box_border_grey">
                                                                            <img width="200" height="200" src="~/Theme/assets/img/members/ehsan-habibi.jpg" style="border-radius: 50%">
                                                                        </div>
                                                                    </figure>
                                                                </div>
                                                                <div class="wpb_raw_code wpb_content_element wpb_raw_html vc_custom_1584806301337 box-leader" style="text-align: center; margin-top: 20px;">
                                                                    <div class="wpb_wrapper">
                                                                        <div class="box-leader-text">
                                                                            <b>سیداحسان حبیبی</b>
                                                                            <p>دکتری مهندسی مکانیک</p>
                                                                            <p>همکار پروژه</p>
                                                                        </div>
                                                                        <ul class="social-leader" style="display: flex; justify-content: center">
                                                                            <li style="padding-left: 5px;"><a class="twitter social-icon" href="http://www.twitter.com/roadthemes" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                                            <li style="padding-left: 5px;"><a class="instagram social-icon" href="http://www.instagram.com" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                                                            <li style="padding-left: 5px;"><a href="https://www.whatsapp.com/" title="WhatsApp" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="wpb_column vc_column_container vc_col-sm-3" style="margin-left: 20px;">
                                                        <div class="vc_column-inner vc_custom_1584806294470">
                                                            <div class="wpb_wrapper">
                                                                <div class="wpb_single_image wpb_content_element vc_align_center  vc_custom_1586933571019">
                                                                    <figure class="wpb_wrapper vc_figure">
                                                                        <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                                            <img width="200" height="200" src="~/Theme/assets/img/members/AhmadReza-Abdollahi.jpg" style="border-radius: 50%">
                                                                        </div>
                                                                    </figure>
                                                                </div>
                                                                <div class="wpb_raw_code wpb_content_element wpb_raw_html vc_custom_1584806301337 box-leader" style="text-align: center; margin-top: 20px;">
                                                                    <div class="wpb_wrapper">
                                                                        <div class="box-leader-text">
                                                                            <b>احمد عبدالهی</b>
                                                                            <p>دانشجوی مهندسی برق مخابرات</p>
                                                                        </div>
                                                                        <ul class="social-leader" style="display: flex; justify-content: center">
                                                                            <li style="padding-left: 5px;"><a class="twitter social-icon" href="http://www.twitter.com/roadthemes" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                                            <li style="padding-left: 5px;"><a class="instagram social-icon" href="http://www.instagram.com" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                                                            <li style="padding-left: 5px;"><a href="https://www.whatsapp.com/" title="WhatsApp" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="wpb_column vc_column_container vc_col-sm-3" style="margin-left: 0px;">
                                                        <div class="vc_column-inner vc_custom_1584806294470">
                                                            <div class="wpb_wrapper">
                                                                <div class="wpb_single_image wpb_content_element vc_align_center  vc_custom_1586933571019">
                                                                    <figure class="wpb_wrapper vc_figure">
                                                                        <div class="vc_single_image-wrapper vc_box_border_grey">
                                                                            <img width="200" height="200" src="~/Theme/assets/img/members/MohammadHossein-Hashemi.jpg" style="border-radius: 50%">
                                                                        </div>
                                                                    </figure>
                                                                </div>
                                                                <div class="wpb_raw_code wpb_content_element wpb_raw_html vc_custom_1584806301337 box-leader" style="text-align: center; margin-top: 20px;">
                                                                    <div class="wpb_wrapper">
                                                                        <div class="box-leader-text">
                                                                            <b>سیدمحمدحسین هاشمی</b>
                                                                            <p>دانشجوی مهندسی برق مخابرات</p>
                                                                        </div>
                                                                        <ul class="social-leader" style="display: flex; justify-content: center">
                                                                            <li style="padding-left: 5px;"><a class="twitter social-icon" href="http://www.twitter.com/roadthemes" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                                            <li style="padding-left: 5px;"><a class="instagram social-icon" href="http://www.instagram.com" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                                                            <li style="padding-left: 5px;"><a href="https://www.whatsapp.com/" title="WhatsApp" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
