@page
@model ServiceHost.Pages.AccountModel
@inject _0_Framework.Application.IAuthHelper _authHelper
@{
    ViewData["Title"] = "ورود به حساب کاربری";
}

<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper breadcrumb-bg-login">
                    <div class="breadcrumb-content">
                        <h2 class="breadcrumb-content__title">ورود به حساب کاربری</h2>
                        <ul class="breadcrumb-content__page-map">
                            <li><a asp-page="/Index">صفحه اصلی</a></li>
                            <li class="active">ورود به حساب کاربری</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">

                                @if (Model.LoginMessage != null)
                                {
                                    <div class="alert alert-danger">@Model.LoginMessage</div>
                                }
                                else
                                {
                                    <div class="alert alert-info">لطفا اطلاعات خود را وارد نمائید</div>
                                }
                                <form id="loginform" method="post" asp-page-handler="Login" >
                                    <div class="login-form">
                                        <h4 class="login-title">ورود به حساب کاربری</h4>
                                        <div class="row" style="flex-direction: column; align-items: center">
                                            <div class="col-md-6 col-6">
                                                <label>نام کاربری</label>
                                                <input type="text" name="username" autocomplete="username"
                                                       id="user-text-field" placeholder="نام کاربری" style="margin-bottom: 45px;">
                                            </div>
                                            <div class="col-6">
                                                <label>کلمه عبور</label>
                                                <p style="display: flex">
                                                    <input id="password" type="password" autocomplete="current-password" name="password" placeholder="کلمه عبور">
                                                    <i class="bi bi-eye-slash" id="togglePassword"></i>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row" style="flex-direction: column; align-items: center">
                                            <div class="col-md-6">
                                                <input  type="submit" value="ورود" style="width: 200px;margin-right: 158px;background-color: #0892f8; color: white;margin-top: 40px">
                                            </div>
                                            <div class="col-sm-6">
                                                <a asp-page="/AccountForgetPassword" class="forget-pass-link" style="margin-right: 205px">فراموشی کلمه عبور؟</a>

                                            </div>
                                            <div class="row" style="flex-direction: column; align-items: center">
                                                <b style="margin-top: 50px;">
                                                    اگر هنوز حساب کاربری ندارید ثبت نام کنید
                                                </b>
                                                <a class="goToRegister-button" asp-page-handler="GoToRegister">ثبت نام</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const togglePassword = document.querySelector("#togglePassword");
    const password = document.querySelector("#password");

    togglePassword.addEventListener("click", function () {
        // toggle the type attribute
        const type = password.getAttribute("type") === "password" ? "text" : "password";
        password.setAttribute("type", type);
            
        // toggle the icon
        this.classList.toggle("bi-eye");
    });

    // prevent form submit
    const form = document.querySelector("form");
    form.addEventListener('submit', function (e) {
        e.preventDefault();
    });
</script>