@page
@model ServiceHost.Pages.AccountForgetPasswordModel
@{
    ViewData["Title"] = "فراموشی رمز عبور";
}

<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper breadcrumb-bg">
                    <div class="breadcrumb-content">
                        <h2 class="breadcrumb-content__title">فراموشی رمز عبور</h2>
                        <ul class="breadcrumb-content__page-map">
                            <li><a asp-page="/Index">صفحه اصلی</a></li>
                            <li><a asp-page="/Account">ورود به حساب کاربری</a></li>
                            <li class="active">فراموشی رمز عبور</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                                <h5><strong>برای بازیابی کلمه عبور،لطفاایمیل خود را وارد نمائید</strong></h5>
                                <form method="post" asp-page-handler="ForgetPass">
                                    <div class="login-form">
                                        <div class="row" style="flex-direction: column; align-items: center">
                                            <div class="col-md-6 col-6">
                                                <label class="control-label" asp-for="ForgetPassword.Email">پست الکترونیک</label>
                                                <input type="text" name="email" autocomplete="email" required="" placeholder="پست الکترونیک" style="margin-bottom: 45px;">
                                                <span asp-validation-for="ForgetPassword.Email" class="text-danger"></span>
                                            </div>
                                            <div class="col-md-6 col-6">
                                                <input type="submit" value="بازیابی کلمه عبور" style="width: 200px; margin-right: 158px; background-color: #0892f8; color: white;">
                                            </div>
                                        </div>
                                        @if (Model.ForgetPassMessage != null)
                                        {
                                            <div class="alert alert-danger" style="margin-top: 20px;margin-bottom: 0px">@Model.ForgetPassMessage</div>
                                                
                                         }
                                     </div>
</form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>