@page
@model ServiceHost.Pages.ContactModel
@{
    ViewData["Title"] = "تماس با";
}

<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper breadcrumb-bg">
                    <div class="breadcrumb-content">
                        <h2 class="breadcrumb-content__title"><strong>تماس با ما</strong></h2>
                        <ul class="breadcrumb-content__page-map">
                            <li><a asp-page="/Index">صفحه اصلی</a></li>
                            <li class="active">تماس با ما</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6">
                                <h1 style="color: #2c2c2c; font-size: 18pt; margin-bottom: 5.5rem;text-align: justify"><strong>با ما در تماس باشید</strong></h1>
                                <ul style="text-align: justify; color: #373737; font-size: 11.5pt; font-weight: 400; line-height: 1.7">
                                    <li style="position: relative;margin-top: 15px; margin-bottom: 15px; display: flex; align-items: center; flex-flow: row wrap; box-sizing: border-box;">
                                        <i class="fa fa-home fa-2x" style="top: 0; right: 0; color: #ffc107; width: 60px; height: 60px; background: #6f8cc2; border-radius: 100%; display: flex; align-items: center;justify-content: center"></i>
                                        <p style="padding-right: 20px;line-height: 1.7;">
                                            <strong style="font-weight: bold">نشانی:</strong>
                                            <span>بوشهر،بلوار دانشگاه خلیج فارس،پردیس فناوری</span>
                                        </p>
                                        <p style="padding-right: 80px">
                                            <span>مجتمع فناوری مروارید،طبقه همکف</span>
                                        </p>
                                    </li>
                                    <li style="position: relative; margin-top: 25px; margin-bottom: 15px; display: flex; align-items: center; flex-flow: row wrap; box-sizing: border-box; text-align: -webkit-match-parent;">
                                        <i class="fa fa-mobile fa-2x" style="top: 0; right: 0; color: #ffc107; width: 60px; height: 60px; background: #6f8cc2; border-radius: 100%; display: flex; align-items: center;
                                                             justify-content: center"></i>
                                        <p style="padding-right: 20px;line-height: 1.7;">
                                            <strong style="font-weight: bold">شماره تماس:</strong>
                                            <span>+989172402275 / +989173731896</span>
                                        </p>
                                    </li>
                                    <li style="position: relative; margin-top: 15px; margin-bottom: 15px; margin-right: auto; display: flex; align-items: center; flex-flow: row wrap; min-height: 60px; box-sizing: border-box; text-align: -webkit-match-parent; color: #373737; font-size: 11.5pt; font-weight: 400">
                                        <i class="fa fa-inbox fa-2x" style="top: 0; right: 0; font-size: 18pt; color: #ffc107; width: 60px; height: 60px; background: #6f8cc2; border-radius: 100%; display: flex; align-items: center;justify-content: center"></i>
                                        <p style="padding-right: 20px;line-height: 1.7;">
                                            <strong style="font-weight: bold">ایمیل:</strong>
                                            <span>arooj.e.v.co@gmail.com</span>
                                        </p>
                                    </li>
                                    <li style="position: relative; margin-top: 15px; margin-bottom: 15px; display: flex; align-items: center; flex-flow: row wrap; box-sizing: border-box; text-align: -webkit-match-parent; ">
                                        <i class="fa fa-mobile-phone fa-2x" style="top: 0; right: 0; color: #ffc107; width: 60px; height: 60px; background: #6f8cc2; border-radius: 100%; display: flex; align-items: center;justify-content: center"></i>
                                        <p style="padding-right: 20px; line-height: 1.7;">
                                            <strong style="font-weight: bold">ساعات پاسخگویی:</strong>
                                            <span>همه روزه به جز جمعه ها، از ساعت 8 تا 14</span>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6" style="border-radius: 20px;">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3492.6836696416026!2d50.81758271493007!3d28.907746782310014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3fb44f21a7d3d479%3A0x63e49d91fe091607!2z2LTYsdqp2Kog2KfYsdiq2LnYp9i0INin2YTaqdiq2LHZiNmG24zaqSDYotix2YjYrCAo2K_Yp9mG2LQg2KjZhtuM2KfZhik!5e0!3m2!1sen!2sus!4v1642833458657!5m2!1sen!2sus"  width="550" height="450" style="border: 0; border-radius: 20px;" allowfullscreen="" loading="lazy"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
