@page
@model IndexModel
@{
    ViewData["Title"] = "صفحه اصلی";
}


@await Component.InvokeAsync("Slide")
@await Component.InvokeAsync("ProductCategory")
@await Component.InvokeAsync("ProductCategoryWithProduct")
@await Component.InvokeAsync("LatestArrivals")
@await Component.InvokeAsync("LatestArticles")
<div class="newsletter-area section-space--inner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 offset-lg-2">
                <div class="newsletter-wrapper">
                    @*<p class="small-text alert-heading">پیشنهاد های ویژه برای شما</p>*@
                    <h5 class="title" style="color: red">تخفیفات باورنکردنی</h5>
                    <p class="short-desc" style="color:forestgreen">
                        برای دریافت جدیدترین اخبار،مقالات و تخفیفات در خبرنامه آروج عضو شوید.
                    </p>

                    <div class="newsletter-form" style="border-color: black">
                        <form id="mc-form" class="mc-form" >
                            <input type="email" placeholder="ایمیل خود را وارد کنید..." required>
                            <button type="submit" value="submit">عضویت در خبرنامه</button>
                        </form>

                    </div>
                    <div class="mailchimp-alerts">
                        <div class="mailchimp-submitting"></div>
                        <div class="mailchimp-success"></div>
                        <div class="mailchimp-error"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
